@font-face { font-family:"Andromeda-ER2n"; src:url("https://lunarli0n.github.io/Andromeda-eR2n.ttf") format('truetype');
}
@font-face { font-family:"Omegacentauri-eaapj"; src:url("https://lunarli0n.github.io/Omegacentauri-Eaapj.ttf") format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Andromeda-ER2n', sans-serif;
  text-align: center;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* Typography
==================== */
.title {
  font-family: "Andromeda-ER2n", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color:white;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

#title-desc {
  font-weight: 600;
  color:white;
}

h1 {
  font-family: 'Omegacentauri-eaapj', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  padding:.1em;
  margin: .10em;
}

/* buttons
==================== */
.buttons {
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  padding: .5em;
  font-size: 1rem;
  font-weight: 500;
  margin: .5em 0;
  color: white;
  transition-duration: 0.4s;
}

.buttons:hover {
  background: black;
  color: white;
}

/* Nav
==================== */

nav ul {
  margin:0;
  padding:0;
  list-style-type: none;
  position: absolute;
  left:0;
  right:0;
}

nav li {
  display:inline-block;
  margin: .5em;
}

nav a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  padding:.5em;
  color:white;
}

nav a:hover {
  background:rgba(0,0,0,25%);
  padding:.5em;
}

/* Home
==================== */

@media (min-width:60rem) {
  .home {
    height: 100vh;
  }
}

.home {
  background-image:url(https://i.imgur.com/lgHmuf1.jpg);
  background-position: center;
  background-size: cover;
  padding:8em 0;
}

.logo {
  width: 15em;
}

/* About
==================== */

.about {
  line-height: 2;
  margin-left: 3em;
  margin-right: 3em;
}

.about p {
  margin: -1em;
  margin-bottom: 1em;
  font-weight: 600;
}

/* Skills
==================== */
.skills {
  background-image:url(https://i.imgur.com/VKAqbB8.jpg);
  background-position: center;
  background-size: cover;
  padding-bottom:12em;
  color: white;
}

.skills h1 {
  padding-top: 3em;
  color: white;
}

#certification-image {
  display:block;
  position:center;
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* EXPERIENCE SECTION

.experience h1 {
  margin-top: .5em;
}

figure img {
  height: 20em;
  width: 30em;
  margin-bottom: 1em;
}

.port-item {
  position: relative;
}

.port-desc {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: rgba(0,0,0,0.60);
  position: absolute;
  z-index: 100;
  bottom: 5em;
  left: 3em;
  right: 3em;
  padding:.5em;
}

.port-desc:hover {
  background-color:rgba(0,0,0,0.85);
}

@media (min-width:37rem) {
  .port-item {
    width:50%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Contact
==================== */
.contact {
  background-image:url(https://i.imgur.com/LDqIBie.jpg);
  background-position: center;
  background-size: cover;
  padding-bottom:6em;
  text-align: center;
  position: relative;
  box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
}

.contact h1 {
  color:white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4em;
  padding-bottom: .5em;
}

.contact .label {
  position: absolute;
  left: 2em;
  right: 2em;
  color:white;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  cursor: text;
  transition: transform 0.2s ease-in-out;
  margin: .25em;
}
.contact-form .form-field {
  position:relative;
  margin: 0 auto;
  width: 30em;
  max-width: 100%;
  padding:2em 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height:36px;
  border-width: 0 0 2px 0;
  border-color: white;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color:white;
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .submit-btn {
  display: inline-block;
  font-family: "Andromeda-eR2n";
  font-weight: 600;
  color:black;
  letter-spacing: 2px;
  font-size: 16px;
  margin: 1em;
  cursor:pointer;

}
#name {
  background-color: rgba(0,0,0,0);
  font-size: 40px;
}

#email {
  background-color: rgba(0,0,0,0);
  font-size: 40px;
}

#message {
  background-color: rgba(0,0,0,0);
  font-size: 40px;
}
